.button-container {
  position: fixed;
  top: 10px; /* Ajusta la distancia superior según tus necesidades */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content; /* Ajusta el ancho según el contenido */
  background-color: transparent;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent; /* Establece un borde transparente por defecto */
  border-radius: 30px;
  z-index: 9999;
  transition: height 0.3s ease; /* Transición para el cambio de tamaño */
}

.button-container.large {
  height: 50px; /* Altura más grande cuando se desplaza */
  border-color: #56B4BE; /* Cambia el color del borde cuando se desplaza */
  transform: translateY(0); /* Restablece la posición vertical */
}


.button-container button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  color: white;
  background-color: transparent;
}

.page1, .page2, .page3, .page4 {
  height: 100vh; 
  padding: 20px;
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  padding-top: 10px;
}

.page1 {
 /* background-image: url('../Images//Proyects.jpg'); */
 background-color: black;
 
}  

.page2 {
  /* background-image: url('../Images//background2.jpg'); */
  background-color: black;
 
}

.page3 {
  background-image: url('../Images//Proyects.jpg');  
  
}

.page4 {
  background-image: url('../Images//Contact.jpg'); /* Ruta relativa a la ubicación del archivo CSS */
}
.thome {
  margin-left: 50%;
  font-size: 1px;
  color: transparent
}

.tskills {
  text-align: center;
  margin-top: 200px;
  color: white;
}

.tproyects {
  text-align: center;
  padding-top: 200px;
  color: white;
}

.tcontact {
  color: white;
  text-align: center;
  margin-bottom: 300px;
  margin-top: 200px;
}
@media screen and (max-width: 769px) {
  .page1 {
    height: 655px; 
    margin-bottom: -10px;
    padding-top: 80px;
  }
  .page2{
    height: 850px;
  }
  .page3{
    margin-top: 1px;
  }
  .page4{
    margin-top: 0px;
  }
  .tskills {
    margin-top: 20px;
  }
  .tproyects {
    padding-top: 20px;
  }
.tcontact {
  color: white;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

}