/* Estilos para la barra de navegación principal */
.button-container {
    position: fixed;
    top: 10px; /* ajusta la distancia superior según tus necesidades */
    left: 50%;
    transform: translateX(-50%);
    width: fit-content; /* ajusta el ancho según el contenido */
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #56B4BE;
    border-radius: 30px;
    z-index: 9999;
  }
  
  @media (max-width: 768px) {
    /* Ocultar la barra de navegación principal en dispositivos móviles */
    .button-container {
      display: none;
    }
    
    /* Estilos para la barra de navegación secundaria en dispositivos móviles */
    .mobile-nav {
      position: fixed;
      bottom: 10px; /* ajusta la distancia inferior según tus necesidades */
      left: 50%;
      transform: translateX(-50%);
      width: fit-content; /* ajusta el ancho según el contenido */
      background-color: transparent;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid #56B4BE;
      border-radius: 30px;
      z-index: 9999;
    }
  }
  
  /* Estilos comunes para los botones */
  .button-container button,
  .mobile-nav button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  