/* MyCarousel.css */
.my-carousel {
  border-radius: 20%; /* Bordes redondeados */
  height: 400px;
  width: 900px;
  margin-top: 200px;
  margin-bottom: 360px;
  align-items: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

/* Nuevos estilos para la división de información e imagen */
.proyect-container {
  display: flex;
  align-items: center;
}

.proyect-info {
  flex: 1;
  padding: 20px;
  color: white;
}

.img1 {
  max-width: 60%; /* ajusta el tamaño de la imagen según sea necesario */
}

@media screen and (max-width: 769px) {
  .my-carousel {
    width: 350px; /* Muestra el menú superior en pantallas grandes */
    height: 300px;
    margin-top: 80px;
  }
}
