.portfolio2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 50px auto;
  margin-top: 100px;
  border: 2px solid rgba(255, 255, 255, 0.5); /* Borde semi-transparente */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Brillo alrededor del icono */
  padding: 40px;
  border-radius: 2%;
  background-color: black;

}

.title2 {
  color: #F0AD4E;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 30px;
}
.skill2 {
  position: relative; /* Establecemos la posición relativa para poder posicionar el cuadro de texto dentro */
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 2px solid transparent; /* Cambiamos el borde a transparente */
  transition: transform 0.3s; /* Agregamos una transición suave */
  padding: 15px;
}

/* Al pasar el cursor sobre la habilidad, se agranda un poco */
.skill2:hover {
  transform: scale(1.1); /* Aumentamos el tamaño al 110% */
  
}
.skill2:hover::after {
  content: attr(label); /* Esta línea debe cambiarse a 'content: datalabel;' */
  position: absolute;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  bottom: 120%; /* Ajustamos la posición del cuadro de texto */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Hacemos visible el cuadro de texto */
  transition: opacity 0.3s; /* Agregamos una transición suave */
}


/* Ocultamos el cuadro de texto por defecto */
.skill2::after {
  content: " "; /* Agregamos un espacio en blanco */
  position: absolute;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  bottom: 120%; /* Ajustamos la posición del cuadro de texto */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Ocultamos el cuadro de texto por defecto */
  transition: opacity 0.3s; /* Agregamos una transición suave */
}

.skill2 span {
  font-size: 14px;
  text-align: center;
  margin-left: 5px;
}
/* Estilos para dispositivos con un ancho mínimo de 769px (pantallas grandes) */
@media screen and (max-width: 769px) {
  .portfolio2 {
    width: 300px;; /* Muestra el menú superior en pantallas grandes */
    margin-top: 60px;
    padding: 10px;
    padding-top: 10px !important;
    border: 2px solid rgba(17, 17, 17, 0.5); /* Borde semi-transparente */
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.5); /* Brillo alrededor del icono */
  }
  
  .skill2 {
    margin-top: 20px;
    width: 80px; /* Oculta el menú móvil en pantallas grandes */
    height: 90px;
  }
  .skill2 svg {
    width: 50px !important;
    height: 45px !important;
  }
  .title2 {
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
  }
  }


@media screen and (min-width: 769px) and (max-width: 1366px) {
  .portfolio {
    margin-top: 30px;
  }
}

